.grid-container {
  display: flex;
  justify-content: space-around;
}

.grid {
  display: flex;
  border: .1px solid rgba(214, 214, 214, 0.5);
}

.column {
  display: flex;
  flex-direction: column;
}
