<div class="cell"
     [ngStyle]="{'height': size+'px', 'width': size+'px'}"
     (mouseover)="mouseOver()"
     (mousedown)="onClick()"
     (mouseup)="mouseUp()"
     (mouseout)="mouseOut()"
>
  <div class="type"
       [ngClass]="tileToDisplay"
       [class.placeholder]="!!placeholder"
       [class.no-drop]="noDrop"
  >
    <div class="type-icon">
      <fa-icon *ngIf="icon === 'start'" [icon]="['far', 'circle']"></fa-icon>
      <fa-icon *ngIf="icon === 'end'" [icon]="['fas', 'times']"></fa-icon>
      <fa-icon class="black" *ngIf="icon === 'weight'" [icon]="['fas', 'weight-hanging']"></fa-icon>
    </div>
    <div #tile class="tile"
         [class.path]="path"
         [class.visited]="visited">
      <span class="cost" *ngIf="showCost">{{cell.closed ? cell.cost : ''}}</span>
    </div>
  </div>
</div>
