.cell {
  //margin: 1px;
  //border: .1px solid rgba(214, 214, 214, 0.5);
}

.type {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
  display: grid;
  place-items: center;
}

.tile {
  height: 100%;
  width: 100%;
  font-size: 8px;
  display: grid;
  place-items: center;
}

.placeholder {
  opacity: 50%;
}

.type-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.start {
  background-color: #cd5c5c !important;
  cursor: move;
  //border-radius: 100%;

  //&.placeholder {
  //  background-color: rgba(205, 92, 92, 0.5) !important;
  //}
}

.end {
  background-color: navy !important;
  cursor: move;
}

.wall {
  background-color: black !important;
  .visited {
    background-color: transparent !important;
  }

  .path {
    background-color: transparent !important;
  }
}

.weight {
  //background-color: #999999 !important;
}

.visited {
  background-color: yellow !important;
}

.path {
  background-color: #ff4677 !important;
}

.no-drop {
  cursor: no-drop;
}


