<div class="panel">
  <div class="brush-panel">
    <div class="label">Select Brush:</div>
    <div class="brushes">
      <div class="brush" (click)="selectBrush('clear')">
        <div class="icon clear"></div>
        <div class="icon-label">Clear</div>
      </div>
      <div class="brush" (click)="selectBrush('wall')">
        <div class="icon wall"></div>
        <div class="icon-label">Wall</div>
      </div>
      <div class="brush" (click)="selectBrush('weight')">
        <div class="icon weight">
          <fa-icon class="black" [icon]="['fas', 'weight-hanging']"></fa-icon>
        </div>
        <div class="icon-label">Weight</div>
      </div>
    </div>
  </div>
  <div class="quick-actions">
    <button (click)="resetGrid()">Refresh</button>
    <button (click)="clearObstacles()">Clear All</button>
    <button (click)="addRandomWalls()">Random Walls</button>
  </div>

</div>
