<div class="panel">
  <div class="brush-panel">
    <div class="label">Select Brush:</div>
    <div class="brushes">
      <div class="brush" *ngFor="let brush of brushes" (click)="selectBrush(brush)">
        <div class="icon" [ngClass]="brush"></div>
        <div class="icon-label">{{brush | titlecase}}</div>
      </div>
    </div>
  </div>
  <div class="quick-actions">
    <button (click)="resetGrid()">Refresh</button>
    <button (click)="clearObstacles()">Clear All</button>
    <button (click)="addRandomWalls()">Random Walls</button>
  </div>

</div>
