.options-panel {
  position: relative;
  border: .1px solid rgba(214, 214, 214, 0.5);
  padding: 20px 10px 65px 10px;
  border-radius: 15px;
  min-width: 400px;
  //min-height: 400px;
}

form {
  height: 200px;
  margin-top: 20px;
}

.solve {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  background-color: #2EE59D;
  color: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin: 20px 0;

  .label {
    margin-bottom: 5px;
    font-size: 13px;
  }
}

.custom-select {
  position: relative;
}

.custom-arrow {
  $arrow-size: .4em;
  $color-button : #fff;
  $color-arrow: rgba(0,0,0, 0.5);

  display: block;
  position: absolute;
  outline: none;
  top: 0;
  right: 0;
  height: 100%;
  background: $color-button;
  border: .1px solid rgba(214, 214, 214, 0.5);
  border-left: none;
  width: 2.5rem;
  border-radius: 0 15px 15px 0;
  pointer-events: none;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
    border-top: $arrow-size solid $color-arrow;

    top: 50%;
  }

  &::before {
    //border-left: $arrow-size solid transparent;
    //border-right: $arrow-size solid transparent;
    //border-bottom: $arrow-size solid $color-arrow;
    //
    //top: 35%;
  }
}

.slider-container {
  width: 100%;
}

.slider {
  $slider-height: 20px;
  $thumb-width: 25px;
  $thumb-color: #2EE59D;
  $border-radius: 15px;

  -webkit-appearance: none;
  width: 100%;
  height: $slider-height;
  border-radius: $border-radius;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $thumb-width;
    height: $slider-height;
    border-radius: $border-radius;
    background: $thumb-color;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: $thumb-width;
    height: $slider-height;
    border-radius: $border-radius;
    background: $thumb-color;
    cursor: pointer;
  }

}

